:root {
  --bg-color: #f0f0f0;
  --text-color: #121212;
  --white-color: #fefefe;
  --primary-color: #626341;
  --secondary-color: #b5ca8d;
  --tertiary-color: #222e50;
}

.secondary-color {
  color: var(--secondary-color);
}
.primary-color {
  color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
}

/* NAV STYLE */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  z-index: 999;
}

.navbar {
  margin: 1rem 0;
  padding: 0 5rem !important;
}
.navbar .navbar-brand {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white-color);
}

.navbar a {
  font-weight: 500;
  font-size: 16px;
  margin-right: 1rem !important;
  color: var(--white-color);
}

.navbar a:hover {
  color: var(--tertiary-color);
}

.navbar a.active {
  color: var(--white-color) !important;
  border-bottom: 2px var(--tertiary-color) solid;
}

/* HERO STYLE */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
  text-align: center;
}

.hero h1 {
  font-size: 3.75rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.25rem;
}

.hero .btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
}

.hero .btn:hover {
  background-color: var(--tertiary-color);
}

/* ABOUT STYLE */
.about-me {
  min-height: 100vh;
}
.about-me .container .row .col-lg-6 h2 {
  font-weight: 700;
}

.about-me .data {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.about-me .data .tag {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 400;
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 30px;
  font-weight: 600;
}

.about-me .container .row .col-lg-6 img {
  position: relative;
  left: 100px;
}

/* SERVICE STYLE */
.services {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services .service-header {
  margin-bottom: 2rem;
}
.services .service-header h2 {
  font-weight: 700;
}

.services .container .row i {
  color: var(--primary-color);
}

.services .container .row .btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  padding: 1rem 0;
}

.footer .footer-header h2 {
  font-weight: 700;
}

.footer .social-media a {
  margin-right: 1rem;
  color: var(--white-color);
}

.footer .contact-info p {
  margin-top: 1rem;
  color: var(--white-color);
}
